<div class="container">
   <div class="text-center">
   
      <h1>クエストクリア！！</h1><br />
      <p>素晴らしい！！</p>
      <p>ついに新たな地へ踏み出しましたね！</p>
      <p>これから、たくさんの新たな出会いが待っていることでしょう。</p>
      <p><%= @user.name %>さんのこれからの新生活に幸あれ！！</p>
   
   </div>      
</div>
