<div class="container">
  
    <h3 class="border-bottom border-dark help-text">引越クエストとは？</h3>
      <p class="rounded-lg bg-white p-3">
        当サイトは、いくつかの質問に答えることであなたの条件に合った引越しに関する手続きの一覧を作成します。
      それを元に、あなたの引越手続きが漏れなく完了するようサポートします！</p>

    <h3 class="border-bottom border-dark help-text">クエストとは？</h3>
      <p class="rounded-lg bg-white p-3">
        当サイトでは、引越しに係る手続きをまとめてクエストと呼んでいます。クエストには完了すべきタスクが一覧として表示されます。
        タスクをすべて完了することで、クエストを完了することができます。</p>

    <h3 class="border-bottom border-dark help-text">タスクとは？</h3>
      <p class="rounded-lg bg-white p-3">
        タスクとは、あなたが完了すべき手続きです。計画的に実行していきましょう。</p>

    <h3 class="border-bottom border-dark help-text">広場とは？</h3>
      <p class="rounded-lg bg-white p-3">
        広場とは、引越しに関する質問や情報を交換できる掲示板です。</p>
  
</div>